html, body{
	margin:0 auto;
	padding:0;
	margin-top:-15px;
	/*width:760px;*/
	width:920px;
	height:746px;
	/*background-color:#414141;*/
	background-image:url('img/back_reconst.jpg');
	background-color:#cfcfcf;
	background-position: center;
	background-repeat: no-repeat;
	
}
.ie8 html, .ie8 body{
	border:0;
	margin:0 auto;
	padding:0;
}
body{
	margin:0 auto;
	padding:0;
	/*width:760px;*/
	width:920px;
	height:746px;
	/*background-image:url('img/back.jpg');*/
}
a img { border: none; }
a { text-decoration: underline; font: Myriad Pro; }
a:link { color: #7d4708; }
a:visited { color: #583500; }
a:hover { color: #846712; }

.ie7 a img, .ie8 a img, .ie9 a img{ border:0; }

.indexPage { background-image:url('img/back_index.jpg');height:500px;margin-top:80px; }

#header{ height:155px; }

.navigationColumn { width:170px; position:absolute; margin-top:25px; text-align:center; }
#navigationColumn1 { margin-left:250px; }
#navigationColumn2 { margin-left:480px; }
.indexPage .navigationColumn { margin-top:235px; }
.indexPage #navigationColumn1 { margin-left:150px; }
.indexPage #navigationColumn2 { margin-left:430px; }

#buttons {
	width:125px;
	position:absolute;
	margin-top:195px;
	margin-left:-39px;
	text-align:center;
}
.indexPage #buttons {
	margin-top:420px;
	margin-left:124px;
	width: auto;
}
#menu ul{
	list-style:none;
}
.navigationColumn li, #menu li{
	display:inline;
	color:#fff;
	padding-bottom:40px;
}
#content{
	width:625px;
	margin-top:30px;
	margin-left:133px;
	max-height:523px;
	overflow-y: auto;
	overflow-x: hidden;
	font:15px Arial;
}
#content .text { margin-left: 10px; width: 95%; }
h1, h4{
	/*font:24px Arial;*/
	font:28px Arial;
	font-weight:bold;
    text-align: center;
    color:#7f0010;
}

.contacts {
    font:28px Arial;
	font-weight:bold;
    color:#7f0010;
    text-align: right;
}

h2{
	/*font:22px Arial;*/
	font:22px Arial;
	color:#000;
	font-weight:bold;
	text-align:center;
}
h3{
  align:left;
	font:16px Arial;
	color:#000;
	font-weight:bold;
}
p{
	font:15px Arial;
	text-align:left;
	text-indent: 20px;
	text-align: justify;
}
hr {
   border: none;
   background-color: #414141;
   color: #414141;
   height: 1px;
}
table{
	width: 100%;
	text-align:center;
}
#copy{
	font:12px Arial;
	color:#8e888a;
}
#copy_index{
	font:12px Arial;
	color:#8e888a;
}
#container{
width: 620px;
overflow: auto;
margin: 0 auto;
overflow-x: hidden;
overflow-y: hidden;
}
.slider{
width: 900px;
text-align:center;
}
.section{
margin:0;
width:200px;
float:left;
margin-right:20px;
}



#ytvideo2 {
    float: left;
	margin-right:10px;
}
 
 
.yt_holder {
    padding: 10px;
    width: 700px;
    float: left;
	margin-bottom:15px;
}
 
 
.yt_holder ul {
    float: left;
    margin: 0;
    padding: 0;
    width: 150px;
    max-height: 300px;
    overflow-y:auto;
    overflow-x:hidden;
}
 
.yt_holder ul li {
    list-style-type: none;
    display:block;
    float: left;
    margin-bottom: 5px;
	padding:2px;
 
}
 
.yt_holder ul li img {
    width: 120px;
    float: left;
    margin-right: 5px;
    border: 1px solid #999;
    display: block;
}

.yt_holder ul li span {
    display: block;
    clear:left;
}
 
.yt_holder ul li a {
    font-family: georgia;
    text-decoration: none;
    display: block;
    color: #000;
}